body {
  /*background: #d7eddb;*/
  background: linear-gradient(-20deg, #4d6a61 0%, #d7eddb 100%);
  min-height: 100vh;
}
a {
  color: #2c3d37;
}
body .container {
  max-width: 600px;
  margin: 120px auto;

  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}
form {
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  display: flex;
  margin-bottom: 20px;
}
form .input-key-words {
  background: #d7eddb;
  width: 80%;
  padding: 15px;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
  color: #272044;
  margin-right: 10px;
}
form .input-button {
  background: #d7eddb;
  color: #272044;
  font-weight: 500;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  padding: 14px 24px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
form .input-button:hover {
  background: #4d6a61;
  color: white;
}
main .generated-answer {
  background: white;
  padding: 30px;
  line-height: 2;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 25px;
  border-left: 3px solid #4d6a61;
}
main .inpiredFromSomeone {
  font-size: 14px;
}

footer {
  text-align: center;
  font-size: 13px;
}
